node_modules/
backups/
pedidos.json
mozo.json
mesas.json
menu.json
ticket.json
resenas.json
auth.json
usuarios.json
insumos.json
recetas.json
arca.json
facturas.json
config.json
cloudflared.exe
.env
*.log
