node_modules/
backups/
pedidos.json
mozo.json
mesas.json
menu.json
ticket.json
resenas.json
auth.json
usuarios.json
insumos.json
recetas.json
arca.json
facturas.json
caja.json
turnos.json
turnos-mozos.json
config.json
lista-espera.json
vapid.json
push-subs.json
cloudflared.exe
.env
*.log
